################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LoggingAndDIExample
/CoreWebApplication/bin/Debug/netcoreapp2.1
/CoreWebApplication/obj
/ConsoleApp/obj/Debug
